.App {
  padding: 0 16px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftside {
  display: flex;
  align-items: center;
}
.number {
  margin-left: 9px;
  background-color: #0a327b;
  color: #fff;
  text-align: center;
  width: 32px;
  height: 25px;
  border-radius: 6px;
}
.mark {
  color: #5e6778;
  font-size: 14px;
  line-height: 18px;
}
